# Module 7 Exercises - Linear Regression

### Exercise 1:

Using the pandas library, in the datasets folder load the gradedata.csv file as a dataframe. Narrow your data (make the dataframe smaller) by choosing columns that you think can help predict student grades. Use any method that you've learned so far to help your decision on which columns to keep.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn #library for predictive modeling

%matplotlib inline

In [7]:
location= 'datasets/gradedata.csv'
df = pd.read_csv(location)

In [3]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [4]:
df.columns

Index(['fname', 'lname', 'gender', 'age', 'exercise', 'hours', 'grade',
       'address'],
      dtype='object')

In [8]:
df.corr()

               age  exercise     hours     grade
age       1.000000 -0.003643 -0.017467 -0.007580
exercise -0.003643  1.000000  0.021105  0.161286
hours    -0.017467  0.021105  1.000000  0.801955
grade    -0.007580  0.161286  0.801955  1.000000

In [11]:
clean_df = df.drop(['fname', 'lname', 'age', 'address'], axis=1)

In [12]:
clean_df.head()

   gender  exercise  hours  grade
0  female         3     10   82.4
1    male         4      4   78.2
2    male         5      9   79.3
3  female         2      7   83.2
4  female         4     15   87.4

### Exercise 2:

Using the dataframe in the exercise above, clean and prepare your data. This means to eliminate any null (missing) values (either by dropping or filling them) and to transform any data column types to numerical values that a model can interpret. For example, if the column has string values, convert them to integers that best represent their order.

In [15]:
clean_df.isnull().sum()

gender      0
exercise    0
hours       0
grade       0
dtype: int64

In [17]:
clean_df.dtypes

gender       object
exercise      int64
hours         int64
grade       float64
dtype: object

In [19]:
clean_df.loc[clean_df['gender'] == 'female', 'gender'] = 0
clean_df.loc[clean_df['gender'] == 'male', 'gender'] = 1
clean_df.head()

   gender  exercise  hours  grade
0       0         3     10   82.4
1       1         4      4   78.2
2       1         5      9   79.3
3       0         2      7   83.2
4       0         4     15   87.4

In [21]:
clean_df.corr()

            gender  exercise     hours     grade
gender    1.000000 -0.032681  0.013906 -0.016547
exercise -0.032681  1.000000  0.021105  0.161286
hours     0.013906  0.021105  1.000000  0.801955
grade    -0.016547  0.161286  0.801955  1.000000

### Exercise 3:

Using the cleaned dataframe in the exercise above, use the sklearn library to split the data into training and test datasets. Make the test size 30%.

In [25]:
from sklearn.model_selection import train_test_split

In [46]:
X = clean_df.drop("exercise", axis=1)

In [47]:
X_train, X_test, Y_train, Y_test = train_test_split(
    X, clean_df['exercise'], test_size=0.30, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(1400, 3)
(600, 3)
(1400,)
(600,)

### Exercise 4:

Using the training data from the previous exercise, set a linear regression function to fit the data (build the model).

In [42]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [48]:
lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Exercise 5:

What is the intercept coefficient (y-intercept) for the linear regression model?

In [51]:
print("Estimated intercept coefficient:", lm.intercept_)

Estimated intercept coefficient: -0.5746045964768571

### Exercise 6:

Use the predict function on the training data and the test data.

In [57]:
lm.predict(X_train)[0:5]

array([2.59040837, 2.94464314, 2.49049596, 3.05654494, 2.62016927])

In [58]:
lm.predict(X_test)[0:5]

array([2.59040837, 2.94464314, 2.49049596, 3.05654494, 2.62016927])

### Exercise 7:

Calculate the score of the training and test predictions. How "good" was the linear regression model at predicting the test data compared to the training data?

In [54]:
print(lm.score(X_train, Y_train))
print(lm.score(X_test, Y_test))

0.06088050118498689
0.04847064039985338